body {
  font-family: Inter, sans-serif;
  background-color: var(--dark);
  color: var(--text-color);
  font-size: 12px;
}

.section {
  margin: 16px 0;
}
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.text-semibold {
  font-weight: 600;
}
